* {
    margin: 0;
    padding: 0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing:border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #ffcf75;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
#content-container {
    width: 42rem;
    margin: 2rem auto;
}

#player-computer-comparison {
    display:flex;
    justify-content: space-between;
}

#player-container,
#computer-container {
    display: flex;
    flex-direction: column;
}

#player-score,
#computer-score{
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

#player-emoji,
#computer-emoji,
#player-choice,
#computer-choice,
#winner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-emoji, #computer-emoji {
    height: 20rem;
    width: 20rem;
    background-color: white;
    font-size: 12rem;
    border-radius: 1rem;
}

#player-choice, #computer-choice {
    font-size: 1.5rem;
    min-height: 2rem;
    margin-top: 0.5rem;
}

#winner {
    font-size: 3rem;
    margin-bottom: 1rem;
    min-height: 4rem;
}
#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-container > button {
    font-size: 1.5rem;
    min-height: 5rem;
    min-width: 10rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button-container > button:hover {
    background-color: rgb(232, 232, 232);
}
#restart-container {
    display:flex;
    justify-content: center;
}

#restart-button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    font-size: 3rem;
    visibility: hidden;
}

#restart-button:hover {
    color: rgb(0, 0, 191);
}