* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing:border-box;
}

html, body {
    height: 100%;
}

#content-container {
    width: 50rem;
    margin: 8rem auto;
}

#choice-container,
#emoji-container {
    display: flex;
    justify-content: space-around;
}

#player-emoji, #computer-emoji{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    font-size: 10rem;
    border: 2px solid black;
    border-radius: 1rem;
}

#winner {
    display:flex;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
}